<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.malix.takeabreak">
    <!-- Required for Nearby Connections -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.CustomMessage"></activity>
        <activity android:name=".ui.ScheduleHold" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.Personal_hold_Activity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Signup" />
        <activity android:name=".ui.Authentication" />
        <activity
            android:name=".domain.datalayer.ConnectivityActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.MyProfile"
            android:parentActivityName=".ui.ProfileMaking" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ui.ProfileMaking"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.UserWelcome" />
        <activity
            android:name=".ui.CurrentProfile"
            android:parentActivityName=".ui.ProfileMaking" />

        <service
            android:name=".ui.customAdapter.NotificationHandlerService"
            android:label="NotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".ui.AlarmReciever"
            android:enabled="true" />
    </application>

</manifest>